<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>11gr_Turova</title>
</head>
<body>
    <h1>form with GET method</h1>
    <h1>GET</h1>
    <form method="get" action="/HelloNameGet">
      please, enter your name here: <input type="text" name="param">
      <input type="submit" value="say hello">
     
    </form>
    <hr />

    <h1>form with POST method</h1>
    <hr>
    <form method="post" action="/HelloNamePost">
      please, enter your name here: <input type="text" name="param">
      <input type="submit" value="say hello">
     
    </form>

    <h1>form with calc</h1>
    <hr>
    <form method="get" action="/calc">
      a: <input type="number" name="paramA">
      b: <input type="number" name="paramB">
      <br>
      <br>
 
      <input type="submit" value="add" name="op" >
      <input type="submit" value="sub" name="op">
      <input type="submit" value="div" name="op">
      <input type="submit" value="muv" name="op">


    </form>



    
</body>
</html>__